body {background-color: rgb(196, 255, 246);
}
#container {
    display:flex ;
}
.cartao {
    margin: 1rem 1rem;
    background-color: rgb(10, 222, 197);
    height: 20rem; 
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}
